﻿<div class="user-list">
    <br>
    <div class="row">
        <div class="col-md-3">
            <h3><b>Users Management </b></h3>
        </div>
       <div class="col-md-4">
           <br>
           <a href="#/createuser" class="btn">
               <i class="fa fa-plus"></i> &nbsp; Create User
           </a>
       </div>
    </div>
<hr>
<br>
<br>
<br>
<div block-ui="userListTable"></div>
<div class="table-responsive">
    <table ng-table="tableParams" class="table">
        <tbody ng-repeat="user in users">
        <tr ng-attr-id="{{user.id}}" ng-class-odd="'odd'" ng-class-even="'even'" >
            <td class="rowTd" data-title="'ID'" sortable="'user.ID'">{{user.Id}}</td>
            <td class="rowTd" data-title="'Username'" sortable="'Username'"><a ng-href="#/edituser/{{user.Id}}">{{user.Username}}</a></td>
            <td class="rowTd" data-title="'First Name'" sortable="'user.FirstName'">{{user.FirstName}}</td>
            <td class="rowTd" data-title="'Last Name'" sortable="'user.LastName'">{{user.LastName}}</td>
            <td class="rowTd" data-title="'Email'" sortable="'Email'">{{user.Email}}</td>
            <td class="rowTd" data-title="'Last Updated'" sortable="'LastUpdated'">{{user.LastUpdated.date}}</td>
            <td class="rowTd" data-title="'IsActivated'" sortable="'IsActivated'">{{user.IsActivated}}</td>
            <td class="rowTd" data-title="'Group'" sortable="'Group.Name'">{{user.Group.Name}}</td>
            <td class="rowTd" ><a href="" type=button class="btn" id="deleteRowBtn{{user.Id}}" ng-click="deleteUser(user.Id)">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>