﻿<div class="box-item m-r-15 m-b-15">
    <!--<div class="box-header gallery-view-wrapper-header">-->
        <!--<span class="pull-left">Time spent in the Gallery View vs Info Page</span>-->
        <!--<a class="pull-right"><img alt="" class="img-responsive" src="images/settingsymbol.png" /></a>-->
    <!--</div>-->
    <div top-panel title="Time spent in the Gallery View vs Info Page"></div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div block-ui="myBlockTimeSpentGallery"></div>
        <div class="gallery-view-wrapper">
            <div class="">
                <!--<div class="col-xs-3 text-white top-content top-left-content text-left">Gallery View</div>-->
                <div class="col-xs-6  top-mid-content text-center">
                    <div google-chart chart="timeSpentGalleryCtrl.piechart" style="height:150px; width:281px;"></div>
                    <!--<div google-chart chart="timeSpentGalleryCtrl.piechart" -->
                         <!--style="height:150px; width:150px;"></div>-->
                </div>
            </div>
            <!--<div class="col-xs-3 text-white top-content top-right-content text-right">Info Pages</div>-->
            <!--<div class="col-xs-6  text-white text-left bottom-content bottom-left-content pull-left ">{{timeSpentGalleryCtrl.valueRight | number:0}}%</div>-->
            <!--<div class="col-xs-6 text-white text-right bottom-content bottom-right-content pull-right">{{timeSpentGalleryCtrl.valueLeft | number:0}}%</div>-->
        </div>
    </div>
</div>
