﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
        Create User Group
    </h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Enter group name</label>
        <input class="form-control" ng-model="userGroup.Name" ng-i18next="[placeholder]UserManagement.Labels.EnterGroupName" />
    </div>
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" ng-model="userGroup.IsReadonly" />&nbsp;
            Make this group read only
        </label>
    </div>
</div>
<div class="modal-footer">
    <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">
        Cancel
    </button>
    <button type="button" ng-click="ok()" class="btn btn-primary" id="createGroupBtn">
        Create
    </button>
</div>