﻿
  <div>
      <br>
      <div class="row">
          <div class="col-md-2">
              <h3><b>{{title}}</b></h3>
          </div>
          <div class="col-md-4">
              <br>
              <a href="javascript:history.go(-1)" class="btn btn-sm">
                  <i class="glyphicon glyphicon-backward"></i>&nbsp;Back
              </a>&nbsp;
          </div>
      </div>
      <hr>
      <br>
      <br>
      <br>
<div block-ui="createUserForm"></div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" ng-model="user.Username" />
        </div>
        <div class="form-group">
        <label>First Name</label>
            <input type="text" class="form-control" ng-model="user.FirstName" />
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" ng-model="user.LastName" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" required class="form-control" ng-model="user.Email" />
        </div>
        <div class="btn-group" dropdown is-open="dropdownStatus.isOpen">
            <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
                {{user.groupName}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-repeat="group in userGroups" ng-click="selectUserGroup($event, group.Id)">{{group.Name}}</a></li>
            </ul>
        </div>
        <br><br>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="user.Password" />
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" ng-model="user.Passconf" />
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="form-group">
    <a href="" class="btn " ng-click="createUser()">
        Create User
    </a>
    <a href="" ng-click="cancelCreate()" class="btn">
        Cancel
    </a>
</div>
  </div>