﻿<div>
<div id="header-logo" class="">
    <a class="pull-left" href="#">
        <img alt="logo" class="img-responsive" src="images/Sotheby_Logo_white.png" />
    </a>
    <location-panel></location-panel>
    <div class="admin-dashboard">
            <a href="./admindashboard">
                <img alt="..." src="images/user_management.png"/>
            </a>
        </div>

        <div class="printer-icon">
            <button type="button" ng-csv="getData()" filename="{{fileName}}" >
                <img alt="..." src="images/printer.png"/>
            </button>
        </div>

        <div class="logout">
            <a href="./login/logout">
                <img alt="..." src="images/logout.png"/>
            </a>
        </div>
    </div>
    <total-download></total-download>
    <a href="" class="btn date-filter-btn" ng-click="openDateFilterDialog()">
        <span class="left glyphicon glyphicon-filter"></span>
        <span class="right title" ng-bind="filterDisplay"></span>

    </a>
<div class="container">
    <div class="row m-lr-0">
        <div class="col-sm-6 col-md-4 p-lr-0 number-visits-revisits">
            <number-visits-exhibition></number-visits-exhibition>
        </div>
        <div class="col-sm-6 col-md-4 p-lr-0 average-time-spent-wraper">
            <average-time-spent></average-time-spent>
        </div>
        <div class="col-sm-6 col-md-4 p-lr-0">
            <time-spent-gallery></time-spent-gallery>
        </div>
        <div class="col-sm-6 col-md-4 p-lr-0">
            <popular-search-criteria></popular-search-criteria>
        </div>
        <div class="col-sm-6 col-md-4 p-lr-0 popular-department-wraper">
            <popular-department></popular-department>
        </div>
        <div class="col-sm-6 col-md-4 p-lr-0 views-exhibition-country">
            <viewsofexhibition></viewsofexhibition>
        </div>
    </div>
    <div class="row m-lr-0">
        <div class="col-sm-6 p-lr-0">
            <popular-lots-by-sale></popular-lots-by-sale>
        </div>
        <div class="col-sm-6 p-lr-0">
            <click-exhibition></click-exhibition>
        </div>
    </div>

</div>

</div>