﻿<div class="box-item m-r-15 m-b-15">
    <div top-panel title="Popular Search Criteria %"></div>
    <div class="clearfix"></div>
    <div block-ui="myBlockPopularSearchCriteria"></div>
    <div class="box-body">
        <div class="gallery-view-wrapper col-md-12 text-center">
            <div class="pupular-search">
                <div google-chart chart="popularSearchCriteriaCtrl.piechart" style="height:150px; width:281px;"></div>
            </div>
        </div>
    </div>
</div>
