﻿<div class="panel-target">
    <div class="jvector-map" ng-jvector-map></div>
    <div block-ui="myBlockTotalDownload"></div>
    <div class="total-download text-white">
        <p class="m-b-0">Total number of Download</p>
        <p class="font-s-36 m-b-0 text-blue">{{totalDownloadCtrl.total}}</p>
    </div>
</div>