﻿<legend>
    <h4>Groups Management</h4>
</legend>
<div class="form-group">
    <a href="#/create" class="btn btn-info">
        <i class="fa fa-plus"></i> &nbsp; Create User Group
    </a>
</div>
<div class="table-responsive">
    <table eztek-data-table
           configuration="dataTableConfig"
           class="table table-striped table-bordered table-hover"></table>
</div>