﻿<div id="sale-panel" class="background-black box-item m-b-12 m-r-15 p-b-22">
    <div top-panel title="Popular Lots by Sale (number of views for more than 5 seconds)"></div>
    <div block-ui="myBlockPopularLotsBySale"></div>
    <div class="box-body">
        <div class="form-group m-t-12 m-l-16 m-r-10">

            <select class="form-control selectpicker" class="selectpicker"
                    ng-model="popularLotsBySaleCtrl.exhibitionId"
                    ng-change="popularLotsBySaleCtrl.loadPopularLotsBySale()"
                    toggle selectpicker ng-required="true">
                <option ng-repeat="exhibition in popularLotsBySaleCtrl.exhibitions track by $index"
                        ng-value="exhibition.Id">
                    {{exhibition.Name}}
                </option>

            </select>
        </div>
        <div id="sale-tab">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs row m-lr-0">
                <li class="active col-sm-4 p-lr-0" ng-class="{'active': popularLotsBySaleCtrl.tabs[0].active}">
                    <a href="" ng-click="popularLotsBySaleCtrl.tabs[0].active = true">
                        <span class="font-s-13 text-bold">View</span>
                        <span class="font-s-11">Most popular first</span>
                    </a>
                </li>
                <li class="col-sm-4 p-lr-0" ng-class="{'active':popularLotsBySaleCtrl.tabs[1].active}">
                    <a href="" ng-click="popularLotsBySaleCtrl.tabs[1].active = true">
                        <span class="font-s-14 text-bold">View</span>
                        <span class="font-s-12">Lot order</span>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <tabset class="tab-content">
                <tab active="popularLotsBySaleCtrl.tabs[0].active">
                    <div class="tab-pane active scrollbar-x" id="mostpopularfirst">
                        <div class="viewport">
                            <div class="overview">
                                <div class="background-white p-t-3 m-r-6 p-l-1 p-r-5"
                                     ng-repeat="item in popularLotsBySaleCtrl.viewMostPopular track by $index"
                                     on-finish-render="mostpopularfirst">
                                    <p class="text-black m-b-0 text-uppercase">
                                        lot
                                    </p>
                                    <p class="text-blue m-b-0 h2 m-t-0">{{item.Lot}}</p>
                                    <p class="text-capitalize m-b-0 font-s-11 m-t-26">
                                        Views
                                    </p>
                                    <p class="text-right m-b-5 font-s-15">{{item.Views}}</p>
                                    <p class="text-capitalize m-b-0 font-s-11">
                                        Multiple Views
                                    </p>
                                    <p class="text-right font-s-15 m-b-0 p-b-5 font-s-15">{{item.MultipleViews}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="scrollbar">
                            <div class="track">
                                <div class="thumb">
                                    <div class="end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab active="popularLotsBySaleCtrl.tabs[1].active">
                    <div class="tab-pane scrollbar-x"
                         id="lotorder">
                        <div class="viewport">
                            <div class="overview">
                                <div class="background-white p-t-3 m-r-6 p-l-1 p-r-5"
                                     ng-repeat="item in popularLotsBySaleCtrl.viewLotOrders track by $index"
                                     on-finish-render="lotorder">
                                    <p class="text-black m-b-0 text-uppercase">
                                        lot
                                    </p>
                                    <p class="text-blue m-b-0 h2 m-t-0">{{item.Lot}}</p>
                                    <p class="text-capitalize m-b-0 font-s-10 m-t-26">
                                        Views
                                    </p>
                                    <p class="text-right m-b-5 font-s-15">{{item.Views}}</p>
                                    <p class="text-capitalize m-b-0 font-s-10">
                                        Multiple Views
                                    </p>
                                    <p class="text-right font-s-15 m-b-0 p-b-5 font-s-15">{{item.MultipleViews}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="scrollbar">
                            <div class="track">
                                <div class="thumb">
                                    <div class="end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>