﻿<div class="box-item m-r-15 m-b-15">
    <div top-panel title="Number of Visits/Revisits per Exhibition"></div>
    <div class="clearfix"></div>
    <div block-ui="myBlockNumberVistisExhibition"></div>
    <div class="box-body">
        <div class="scrollbar-y" id="number-visits-revisits">
            <div class="scrollbar">
                <div class="track">
                    <div class="thumb">
                        <div class="end"></div>
                    </div>
                </div>
            </div>
            <div class="viewport">
                <div class="overview">
                    <div class="line clearfix"
                     ng-repeat="item in numberVisitsExhibitionCtrl.numbeVisitsAndRevisitData track by $index"
                         on-finish-render="number-visits-revisits">
                        <div class="pull-left text-white"> {{item.Name}}</div>
                        <div class="pull-right">
                            <span class="text-white font-s-13">{{item.Visits}}/</span>
                            <span class="text-blue font-s-13">{{item.Revisits}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>