    <div class="location-panel">
        <div class="all-location">
            <input type="radio" name="location" value="alllocations" checked="true" ng-custom-radio-button />
            <label>ALL LOCATIONS</label>
        </div>
        <div class="london">
            <input type="radio" name="location" value="alllocations" ng-custom-radio-button/>
            <label>LONDON</label>
        </div>
        <div class="newyork">
            <input type="radio" name="location" value="alllocations" ng-custom-radio-button/>
            <label>NEW YORK</label>
        </div>
        <div class="hongkong">
            <input type="radio" name="location" value="alllocations" ng-custom-radio-button/>
            <label>HONG KONG</label>
        </div>
        <div class="paris">
            <input type="radio" name="location" value="alllocations" ng-custom-radio-button/>
            <label>PARIS</label>
        </div>
    </div>