@font-face {
  font-family: 'Benton Sans ExtraLight';
  src: url('../../fonts/BentonSans/BentonSans-ExtraLight.otf') format('opentype');
}
@font-face {
  font-family: 'Benton Sans Medium';
  src: url('../../fonts/BentonSans/BentonSans-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Benton Sans Book';
  src: url('../../fonts/BentonSans/BentonSans-Book.otf') format('opentype');
}
body {
  font-family: "Benton Sans ExtraLight'";
  line-height: 1;
  background: #272727;
  color: #fff;
}
.container {
  border-radius: 3px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  background: #000000;
  width: auto;
}
#header-logo .logout {
  right: 68px;
}
.user-list {
  min-height: 500px;
}
button,
.btn {
  font-family: "Benton Sans Medium";
}
a.btn {
  background: #15ced0;
  color: #000;
  text-decoration: none;
}
a {
  color: #15ced0;
}
table a.btn {
  height: 21px;
  padding: 0;
}
thead {
  color: #15ced0;
}
.ng-table,
.ng-table-pager button {
  border: 1px solid #fff;
  background: #000;
  border-radius: 3px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.7);
  color: #fff;
}
.ng-table-pager .btn:hover {
  border: 1px solid #000;
  background: #fff;
  color: #000;
}
.ng-table-pager .btn.active {
  border: 1px solid #000;
  background: #15ced0;
  border-radius: 3px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.7);
  color: #000;
}
/*# sourceMappingURL=styles.css.map */
