﻿<div class="box-item m-r-15 m-b-15">
    <div top-panel title="Popular Department (number of hits)"></div>
    <div class="clearfix"></div>
    <div block-ui="myBlockPopularDepartment"></div>
    <div class="box-body ">
        <div class="list-item-popular">
            <div class="wraper-item">
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <span class="text-white text-right">{{popularDepartmentCtrl.labels[0]}}</span>
                    </div>
                    <div class="col-sm-4">
                        <canvas height="40" width="150" id="item-Impressionist"></canvas>
                    </div>
                    <div class="col-sm-2 text-white">{{popularDepartmentCtrl.values[0]}}m</div>
                </div>
            </div>
            <div class="wraper-item">
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <span class="text-white text-right">{{popularDepartmentCtrl.labels[1]}}</span>
                    </div>
                    <div class="col-sm-4">
                        <canvas height="40" width="150" id="item-Contemporary"></canvas>
                    </div>
                    <div class="col-sm-2 text-white">{{popularDepartmentCtrl.values[1]}}m</div>
                </div>
            </div>
            <div class="wraper-item">
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <span class="text-white text-right">{{popularDepartmentCtrl.labels[2]}}</span>
                    </div>
                    <div class="col-sm-4">
                        <canvas height="40" width="150" id="item-painting"></canvas>
                    </div>
                    <div class="col-sm-2 text-white">{{popularDepartmentCtrl.values[2]}}m</div>
                </div>
            </div>
            <div class="wraper-item">
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <span class="text-white text-right">{{popularDepartmentCtrl.labels[3]}}</span>
                    </div>
                    <div class="col-sm-4">
                        <canvas height="40" width="150" id="item-century"></canvas>
                    </div>
                    <div class="col-sm-2 text-white">{{popularDepartmentCtrl.values[3]}}m</div>
                </div>
            </div>
            <div class="wraper-item">
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <span class="text-white text-right">{{popularDepartmentCtrl.labels[4]}}</span>
                    </div>
                    <div class="col-sm-4">
                        <canvas height="40" width="150" id="item-prints"></canvas>
                    </div>
                    <div class="col-sm-2 text-white">{{popularDepartmentCtrl.values[4]}}m</div>
                </div>
            </div>
            <div class="wraper-item">
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <span class="text-white text-right">{{popularDepartmentCtrl.labels[5]}}</span>
                    </div>
                    <div class="col-sm-4">
                        <canvas height="40" width="150" id="item-photography"></canvas>
                    </div>
                    <div class="col-sm-2 text-white">{{popularDepartmentCtrl.values[5]}}m</div>
                </div>
            </div>
            <div class="wraper-item">
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <span class="text-white text-right">{{popularDepartmentCtrl.labels[6]}}</span>
                    </div>
                    <div class="col-sm-4">
                        <canvas height="40" width="150" id="item-art"></canvas>
                    </div>
                    <div class="col-sm-2 text-white">{{popularDepartmentCtrl.values[6]}}m</div>
                </div>
            </div>
            <div class="wraper-item">
                <div class="row">
                    <div class="col-sm-6 text-right ">
                        <span class="text-white text-right">{{popularDepartmentCtrl.labels[7]}}</span>
                    </div>
                    <div class="col-sm-4">
                        <canvas height="40" width="150" id="item-britishpainting"></canvas>
                    </div>
                    <div class="col-sm-2 text-white">{{popularDepartmentCtrl.values[7]}}m</div>
                </div>
            </div>
        </div>
    </div>
</div>