﻿<div class="modal-header">
    <h4 class="modal-title">
        Edit User Group
    </h4>
</div>
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br>
        <br>
<div class="modal-body">
    <div class="form-group">
        <label>Enter group name</label>
        <input class="form-control" ng-model="userGroup.Name" ng-i18next="[placeholder]UserManagement.Labels.EnterGroupName" />
    </div>
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" ng-model="userGroup.IsReadonly" />&nbsp;
            Make this group read only
        </label>
    </div>
</div>
<div class="modal-footer">
    <a href=""  ng-click="cancel()" class="btn " data-dismiss="modal">
        Cancel
    </a>
    <a href=""  ng-click="ok()" class="btn" id="createGroupBtn">
        Create
    </a>
</div>