﻿<div class="box-item m-r-15 m-b-15">
    <div top-panel title="Views of Exhibitions by Country"></div>
    <div class="clearfix"></div>
    <div block-ui="myBlockViewsOfExhibitions"></div>
    <div class="box-body">
        <div class="form-group m-t-12 m-r-30 m-b-12 w-184 pull-right">
            <select class="form-control selectpicker" class="selectpicker"
                    ng-model="viewsofexhibitionCtrl.countryId"
                    ng-change="viewsofexhibitionCtrl.loadViewsOfExhibition()"
                    toggle selectpicker ng-required="true">
                <option ng-repeat="country in viewsofexhibitionCtrl.countries"
                        ng-value="country.Id">
                    {{country.Name}}
                </option>
            </select>   
        </div>
        <div class="scrollbar-y list-info clearfix" id="views-exhibition-country">
            <div class="scrollbar">
                <div class="track">
                    <div class="thumb">
                        <div class="end"></div>
                    </div>
                </div>
            </div>
            <div class="viewport">
                <div class="overview">
                    <div class="row" ng-repeat="item in viewsofexhibitionCtrl.viewsList track by $index"
                         on-finish-render="views-exhibition-country">
                        <div class="col-xs-4 text-blue text-right">{{item.Views}}</div>
                        <div class="col-xs-8 p-lr-0 text-white">{{item.Name}}</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="box-target">
            <a href="#"><img alt="..." src="images/target-in-box.png" /></a>
        </div>
    </div>
</div>
