﻿    <div class="box-item m-r-15 m-b-15">
        <div top-panel title="Average Time spent in the App"></div>
        <div class="clearfix"></div>
        <div block-ui="myBlockAverageTimeSpent"></div>
        <div class="box-body">
            <div class="total-minutes">
                <span class="h2 color-number text-blue">{{averageTimeSpentCtrl.totalMinutes}}</span>
                <span class="text-white"> minutes</span>

            </div>
            <div class="clearfix"></div>
            <div class="col-sm-2 pull-right" style="z-index: 1000" >
                <!--<span  class="span-ios ">{{averageTimeSpentCtrl.averageTimeSpent[0].TimeSpent}}</span>-->
                <!--<span class="span-android">{{averageTimeSpentCtrl.averageTimeSpent[1].TimeSpent}}</span>-->
                <!--<span class="span-windows">{{averageTimeSpentCtrl.averageTimeSpent[2].TimeSpent}}</span>-->
            </div>

            <div class="canvas-ios-adr-wind">

                <div class="col-sm-12 text-center">
                    <canvas height="130" width="300" id="ios-android-windows"></canvas>
                </div>

            </div>

        </div>
    </div>
