<div class="date-filter">
    <tabset>
        <tab heading="by start-date end-date" select="dateFilterVm.selectFilterMode(1)">
            <div date-range start="dateFilterVm.startDate" end="dateFilterVm.endDate"></div>
        </tab>
        <tab heading="by month" select="dateFilterVm.selectFilterMode(2)">
            <div class="by-month" date-picker="dateFilterVm.month" view="month" min-view="month"></div>
        </tab>
        <tab heading="by quarter" select="dateFilterVm.selectFilterMode(3)">
            <form class="by-quarter">
                <div date-picker="dateFilterVm.yearOfQuater" view="year" min-view="year"></div>
                <div class="btn-group-vertical">
                    <h3>Quarter</h3>
                    <div><input type="radio" class="btn btn-default" value="1" ng-model="dateFilterVm.filterQuarter"/><span>1</span></div>
                    <div><input type="radio" class="btn btn-default" value="2" ng-model="dateFilterVm.filterQuarter"/><span>2</span></div>
                    <div><input type="radio" class="btn btn-default" value="3" ng-model="dateFilterVm.filterQuarter"/><span>3</span></div>
                    <div><input type="radio" class="btn btn-default" value="4" ng-model="dateFilterVm.filterQuarter"/><span>4</span></div>
                </div>
            </form>
        </tab>
    </tabset>
    <div class="box-bottom">
        <div class="well">
            <span ng-bind="dateFilterVm.filter.start"></span>
            <span class="glyphicon glyphicon-minus"></span>
            <span ng-bind="dateFilterVm.filter.end"></span>
        </div>
        <div class="check-box">
            <input type="checkbox" ng-model="dateFilterVm.isAllDateFilter" ng-change="dateFilterVm.seleceDefaultMode()">
            <span>No filter</span>
        </div>
        <div class="apply">
            <button class="btn btn-default" type="button" ng-click="dateFilterVm.applyFilter()">Apply</button>
        </div>
    </div>

</div>
