﻿<div id="meters-chart" class="box-item m-r-15">
    <div top-panel title="Click on's by Exhibition"></div>
    <div block-ui="myBlockClickOnExhibition"></div>
    <div class="panel panel-default">
        <div class="form-group m-t-12 m-l-16 m-r-10">
            <select class="form-control selectpicker" class="selectpicker"
                    ng-model="clickExhibitionCtrl.exhibitionId"
                    ng-change="clickExhibitionCtrl.loadClickExhibition()"
                    toggle selectpicker ng-required="true">
                <option ng-repeat="exhibition in clickExhibitionCtrl.exhibitions track by $index"
                        ng-value="exhibition.Id">
                    {{exhibition.Name}}
                </option>
            </select>     
        </div>
        <div class="panel-body bg-black">

            <p class="total-number"><span class="h2 text-blue ">{{clickExhibitionCtrl.totalNumberOfView}}</span><span class="text-white total-view"> Total number of Views</span></p>

            <div class="row chart">
                <div class="col-sm-4">
                    <p class="click-on">Click on's</p>
                    <p id="realworldchart-view" class="h2 chart-number text-blue">{{clickExhibitionCtrl.clickExhibitionData[0].abbrNumViews}}</p>
                    <p class="h5 chart-title text-white text-capitalize"> {{clickExhibitionCtrl.clickExhibitionData[0].Name}}</p>
                    <div class="meter-chart">
                        <canvas id="realworldchart" width="120" height="100"></canvas>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="click-on">Click on's</p>
                    <p id="contactchart-view" class="h2 chart-number text-blue">{{clickExhibitionCtrl.clickExhibitionData[1].abbrNumViews}}</p>
                    <p class="h5 chart-title text-white text-capitalize"> {{clickExhibitionCtrl.clickExhibitionData[1].Name}}</p>
                    <div class="meter-chart">
                        <canvas id="contactchart" width="120" height="100"></canvas>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="click-on">Click on's</p>
                    <div id="registerchart-view" class="h2 chart-number text-blue">{{clickExhibitionCtrl.clickExhibitionData[2].abbrNumViews}}</div>
                    <p class="h5 chart-title text-white text-capitalize"> {{clickExhibitionCtrl.clickExhibitionData[2].Name}}</p>
                    <div class="meter-chart">
                        <canvas class="chart-display" id="registerchart" width="120" height="100"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>