@font-face {
  font-family: 'Benton Sans ExtraLight';
  src: url('../fonts/BentonSans/BentonSans-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Benton Sans Medium';
  src: url('../fonts/BentonSans/BentonSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Benton Sans Book';
  src: url('../fonts/BentonSans/BentonSans-Book.otf') format('opentype');
}

.text-white {
  color: #fff;
}

.text-blue {
  color: rgb( 21, 206, 208 );
}

.text-bold {
  font-weight: bold;
}

.font-s-10 {
  font-size: 10px;
}

.font-s-11 {
  font-size: 11px;
}

.font-s-13 {
  font-size: 13px;
}

.font-s-15 {
  font-size: 15px;
}

.font-s-20 {
  font-size: 20px;
}

.font-s-36 {
  font-size: 36px;
  line-height: 36px;
}

.p-lr-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-l-1 {
  padding-left: 1px;
}

.p-t-3 {
  padding-top: 3px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-22 {
  padding-bottom: 22px;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-lr-0 {
  margin-left: 0;
  margin-right: 0;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-r-6 {
  margin-right: 6px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-b-12 {
  margin-bottom: 12px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-16 {
  margin-left: 16px;
}

.m-t-26 {
  margin-top: 26px;
}

.m-r-30 {
  margin-right: 30px;
}

.w-184 {
  width: 184px;
}

.setting-icon {
  background-image: url('../images/settingsymbol.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.background-black {
  background: #000;
}

.background-white {
  background: #fff;
}

@media(min-width:1200px) {
  .container {
    padding: 0 95px;
  }
}

body {
  background: #272727;
  font-family: "Benton Sans ExtraLight";
  line-height: 1;
}

body.loading-completed > div > img.loading-page{
  display: none;
}

#header-logo {
  margin: 7px 44px 7px 47px;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  max-height: 48px;

  img {
    width: 131px;
  }

  div {
    margin-top: 4px;
  }

  .admin-dashboard{
    position: absolute;
    right: 174px;
    top: 1px;
    font-size: 28px;
    color: #fff;
    a{
      img{
        width: 54px;
      }
    }
  }

  .printer-icon {
    position: absolute;
    right: 108px;
    top: 1px;
    width: 67px;
    button{
      background: none;
      border: none;
    }

    button:focus{
      outline: none;
    }

    img{
      width: 100%;
    }
  }

  .logout{
    position: absolute;
    right: 56px;
    top: 1px;
    font-size: 28px;
    a{
      img{
        width: 54px;
      }
    }
  }

}

.date-filter-btn {
  position: absolute;
  top: 15px;
  right: 386px;
  font-family: 'Benton Sans Book';
  background: #333333;
  border: 1px solid #15ced0;
  color: #15ced0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  display: block;
  height: 26px;
  margin: 0;
  padding: 8px 10px 23px 10px;
  text-decoration: none;
  line-height: 1.5;
}
.date-filter-btn:hover {
  color: #fff;
  font-size: 15px;
}

.ngdialog-overlay {
  z-index: 10001;
}

.ngdialog.ngdialog-theme-default {
  .ngdialog-content {
    z-index: 10002;
    width: 580px;
    height: 360px;
  }
}


.panel-target {
  position: relative;

  .total-download {
    position: absolute;
    bottom: 14px;
    right: 29px;
    text-align: right;
    line-height: 1.7;
    p:last-child{
      font-family: 'Benton Sans Book';
    }
  }
  .jvector-map{
    width: 100%;
    height: 312px;
    margin-bottom: 25px;
    .jvectormap-zoomin, .jvectormap-zoomout{
      color: #15ced0;
      width: 15px;
      height: 15px;
    }
  }

}

.box-item {
  border-radius: 3px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.7);
  width: auto;
  position: relative;
  background: #000000;
}

.col-md-4 {
  .box-item {
    height: 212px;
    @media(max-width:767px){
      height:100%;
    }
  }
}

#sale-panel {
  &.box-item {
    height: 349px;
    @media(max-width:767px){
      height:100%;
    }
  }
  .box-body{
    padding-top: 0;
  }
}

#meters-chart {
  &.box-item {
    height: 349px;
    @media(max-width:767px){
      height:100%;
    }
  }
}


.box-header {
  display: block;
  overflow: hidden;
  background: #f0f0f0;
  line-height: 23px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 13px;
  color: #000000;
  font-family: 'Benton Sans Book';
  a {
    padding: 3px 0;
    width: 17px;
  }
}

.box-body {
  display: block;
  background: #000000;
  color: #000;
  font-size: 12px;
  padding-top: 15px;
}

.average-time-spent-wraper {
  .total-minutes {
    margin-top: 1px;
    margin-left: 16px;
    padding-bottom: 10px;
    font-size: 14px;
    span:first-child{
      font-family: 'Benton Sans Book';
    }
  }

  .canvas-ios-adr-wind {
    margin-left: 2%;
  }

  .span-ios {
    color: #fff;
    margin-top: 3px;
    position: absolute;
  }

  .span-android {
    color: #fff;
    margin-top: 25px;
    position: absolute;
  }

  .span-windows {
    color: #fff;
    margin-top: 46px;
    position: absolute;
  }
}

.popular-department-wraper {
  .box-body {
    line-height: 18px;
    padding-top: 11px;
    padding-bottom: 6px;

    .wraper-item {
      border-bottom: 1px solid #565454;
      margin-left: 10px;
      margin-right: 10px;
      line-height:1.5;


      .col-sm-4 {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: -30px;
        margin-left: -12px;
        margin-right: 12px;
        display: block;
      }

      @media(max-width:767px) {
        .box-body {
          min-height: 168px;
        }

        .col-sm-6 {
          &.text-right {
            text-align: left;
          }
        }

        .col-sm-4 {
          padding-left: 15px;
          padding-right: 0;
          margin-bottom: -30px;
          margin-left: 0;
          display: block;
        }
      }
    }
  }
}

.table-condensed.text-white.list-text-table {
  font-size: 10px;
}
/*.number-visits-revisits*/
.number-visits-revisits {
  .box-body {
    padding: 2px 5px 10px 15px;
    line-height: 1.5;

    .line {
      border-bottom: 1px solid rgba(86,84,84,0.3);
      margin-right: 5px;
    }
  }
}
/*end*/

/*.views-exhibition-country */
.views-exhibition-country {
  .box-body {
    position: relative;
    padding: 5px 10px 5px 10px;

    .dropdown-menu.open{
      width: 10px;
    }

    .dropdown {
      margin: 5px;

      button {
        background: #f0f0f0;
        max-height: 25px;
        padding-top: 2px;
        border-radius: 3px;
        border-color: #f0f0f0 !important;

      }
    }

    .list-info {
      /*margin: 30px 15px 10px 15px;*/
      line-height: 1.4;
      display: block;
      position: relative;
      overflow: hidden;
      padding: 0 15px;
      margin-left: 7px;
      padding-right: 2px;
      clear: both;
    }

    .box-target {
      position: absolute;
      top: 4.61%;

      img {
        width: 81.01%;
      }
    }
  }
}
/*end*/



#meters-chart {

  .text-blue {
    color: #15ced0;
  }

  .panel {
    border-color: #000;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.7);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #000;

    .panel-body {
      padding: 0 35px;

      .total-view {
        font-size: 12px;
      }

      .total-number {
        margin-top: -6px;
        span:first-child{
          font-family: 'Benton Sans Book';
        }
      }

      .dropdown-list {
        margin: 0 -25px;

        .form-control {
          height: auto;
          font-size: 12px;
          padding: 1px 12px;
          border-radius: 1px;
          margin-bottom: 10px;
        }
      }

      .chart {
        margin-top: 20px;

        .chart-number {
          margin-left: 5px;
          margin-top: 20px;
          font-family: 'Benton Sans Book';
          height: 34px;
        }

        .click-on {
          color: #fff;
          margin-left: 8px;
          font-weight: normal;
          margin-bottom: -16px;
          margin-top: 5px;
        }

        .chart-title {
          font-size: 16px;
          font-weight: normal;
          margin-top: -3px;
          height: 33px;
        }
      }

      .meter-chart {
        margin-left: -5px;
        margin-top: 18px;

        .chart-display {
          position: absolute;
        }

        .text-value {
          position: absolute;
        }

        .min {
          bottom: 0;
          left: 0;
        }

        .max {
          top: -5px;
          right: 0;
        }
      }
    }
  }

  .bg-black {
    background: #000;
  }
}

.bootstrap-select {
  background: transparent;
  height: 18px;

  > .btn {
    display: block;
    width: 100%;
    height: 18px;
    padding: 0px 5px;
    font-size: 13px;
    line-height: 16px;
    font-family: 'Benton Sans Book';
    color: #000;
    background-color: #fff;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #ccc;
    margin: 0;
    border-radius: 0;
  }

  &.btn-group {
    .dropdown-menu {
      border-radius: 0;
      background: #fff;
      font-size: 12px;
    }
  }
}

#sale-tab {
  margin-left: 26px;
  margin-right: 15px;
  overflow: hidden;
  font-family: 'Benton Sans ExtraLight';

  .nav-tabs {
    border-bottom: 0;
    margin-left: 30px;

    > li {
      > a {
        color: #fff;
        background-color: rgba( 21, 206, 208,0.3 );
        margin: 0 9px 15px 0;
        padding: 3px 10px 31px 5px;
        line-height: 1;
        border-radius: 0;
        border: 0;

        span {
          display: block;
        }
      }

      &.active {
        a {
          color: #000;
          background: #15ced0;
          border: 0;
        }
      }
    }
  }

  div.background-white {
    width: 76px;
    display: inline-block;
    line-height: 1;
    margin-bottom: 32px;

    p {
      line-height: 1;
    }
  }
}

.scrollbar-x {
  position: relative;

  .viewport {
    height: 174px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    margin-left: 32px;
    margin-right: 5px;
  }

  .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }

  .scrollbar {
    position: relative;
    background-position: 0 0;
    right: 0;
    bottom: 0;
    height: 14px;
    clear: both;
    width: 100% !important;
    z-index: 1;
  }

  .track {
    height: 1px;
    background: #fff;
    margin: auto;
    position: relative;
    width: 100% !important;
  }

  .thumb {
    height: 14px;
    width: 14px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: -7px;
    background: #15ced0;
    border-radius: 20px;
    margin-left: 15px;
  }

  .thumb .end {
  }

  .disable {
    display: none;
  }
}


.scrollbar-y {
  position: relative;

  .viewport {
    height: 174px;
    overflow: hidden;
    position: relative;
  }

  &#views-exhibition-country {
    .viewport {
      height: 139px;
      overflow: hidden;
      position: relative;
    }
  }

  .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    right: 5px;
  }

  .scrollbar {
    position: absolute;
    background-position: 0 0;
    right: 0;
    top: 0;
    width: 6px;
    z-index: 1;
  }

  .track {
    width: 1px;
    background: #fff;
    position: relative;
    margin: auto;
  }

  .thumb {
    height: 6px;
    width: 6px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -3px;
    background: rgb( 21, 206, 208 );
    border-radius: 5px;
  }

  .thumb .end {
    height: 5px;
    width: 6px;
    overflow: hidden;
  }

  .disable {
    display: none;
  }
}

.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}



.tab-content {
  ul.nav.nav-tabs {
    display: none;
  }
}




































/*Time Spent in Gallery View*/
.gallery-view-wrapper-header {
  font-size: 11px;
}

.gallery-view-wrapper {
  position:relative;
  overflow:hidden;

  .top-content {
    font-size: 13px;
    padding: 10px 5px 0 20px;
    line-height: 1.2;
    margin-bottom: -20px;
  }

  .top-left-content {
  }

  .top-mid-content {
    padding-left: 0;
    padding-right: 0;
  }

  .top-right-content {
    position: absolute;
    top: 0;
    right: 0;
    /*margin-top: 24px;*/
    margin-right: 15px;
  }

  .bottom-content {
    color: #15ced0;
    font-size: 28px;
    padding-right: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-family: 'Benton Sans Book';
  }

  .top-bottom-content {
  }

  .bottom-left-content {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .bottom-right-content {
    bottom: 0;
    right: 0;
    position: absolute;
    /*margin-bottom: 20px;*/
  }
}

.pupular-search {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}
/*End Time Spent in Gallery View*/
.scrollbar-dynamic {
  border: 1px solid #FCC;
  max-height: 300px;
  overflow: auto;
}

//login form

#signin-wrapper{
  padding-top:50px;
  .form-signin-heading {
    margin-bottom:20px;
  }
  .light{
    font-weight:normal;
    margin-left:20px;
  }
  .radius-3{
    border-radius:3px;
  }
  .btn-lg{
    background:#0b6f71;
    border:none;
    &:hover{
      background:#15ced0;
    }
  }
}


/*angular-block-ui-css*/
.block-ui-overlay {
  z-index: 10001;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

body > .block-ui > .block-ui-overlay {
  position: fixed;
}

.block-ui-overlay.block-ui-visible {
  background-color: #fff;
  opacity: 0.5;
  -ms-filter:"alpha(opacity=50)";
  cursor: wait;
}

.block-ui-message-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  z-index: 10002;
}

body > .block-ui > .block-ui-message-container {
  position: fixed;
}

.block-ui-message {
  cursor: wait;
  display: inline-block;
  text-align: left;
  background-color: #333;
  color: #f5f5f5;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
}

.login{
  background-color: #ffffff;
  font-size: 18px;
  .logo{
    width:15%;
    margin-left: -10%;
    margin-top: 1%;
    a{
      img{
        width:100%;
      }
    }
  }
  .content{
    z-index: 1000;
    background-color: #ebebeb;
    margin-top: 116px;
    padding: 22px;
    border-radius: 4px;
    .login-wrapper{
      border: 1px solid #898989;
      border-radius: 4px;
      padding: 34px 22px 10px 84px;
      color: #868686;
      .form-group{
        margin-bottom: 3px;
        .col-sm-8, .col-sm-2{
          padding-right: 0 !important;
          padding-left: 0 !important;
          margin: 0 !important;
        }
        label{
          padding-top: 3%;
        }
      }
      input{
        font-size: 18px;
        width: 90%;
        height: 45px;
      }
      button{
        background-image: none !important;
        background-color: #15cee0;
        border-radius: 4px;
        border: 1px solid #51abb4;
        width: 63%;
        height: 45px;
        font-size: 20px;
        margin-left: 33%;
        margin-top: 3%;
        margin-bottom: -3%;
      }
    }
    .error{
      color: red;
      font-weight: bold;
    }
  }
  .box-shadow{
    z-index: 1;
    content: "";
    width: 490px;
    height: 136px;
    box-shadow: 2px 56px 50px 15px rgba(0, 0, 0, 0.34);
    top: -136px;
  }
  .hidden{
    display: none;
  }
}

.location-panel{
  margin: 0;
  position: absolute;
  top: 9px;
  left: 205px;
  color: #fff;
  font-size: 13px;
  font-family: 'Benton Sans Book';
  display: block;
  :focus {
    outline: none;
  }
  div {
    display: inline-block;
    div{
      margin-right: 24px;
      background-size: 25px 49px;
      background-repeat: no-repeat;
    }
    label{
      position: relative;
      top:-5px;
      left: -22px
    }
  }
  .london{
    margin-left: 5px;
  }
  .newyork{
    margin-left: 5px;
  }
  .hongkong{
    margin-left: 5px;
  }
  .paris{
    margin-left: 5px;
  }

}

/*end angular-block-ui-css*/

.date-filter {
  position: relative;
  height: 100%;

  .box-bottom {
    position: absolute;
    bottom: 0px;
  }

  .box-bottom > div  {
      display: inline-block;
    }

  .well {
    width: 239px;
    height: 30px;
    margin: 0 0px 0 21px;
    padding: 10px 4px 30px 4px;
  }

  .check-box {
    margin-left: 20px;
    margin-right: 20px;
  }

  .by-month {
    table {
      width: 100%;
    }
  }

  .by-quarter {

    > div:last-child {
      float: right;
      right: 20px;
      top: -207px;


      .btn-default:hover, .btn-default:focus {
        background-color: #0044cc;
        background-position: 0 35px;
        color: #000;
      }
    }
    .btn-default {
      text-shadow: none;
    }
    table {
      width: 420px;
    }

    span.now {
      background-color: #eeeeee !important;
    }
  }

  .apply {
    margin-left: 30px;

    button {
      width: 100px;
      height: 36px;
      padding: 0px 5px 0px 5px;
    }
  }

  .nav-tabs {
    li {
      a {
        color:rgb(7, 158, 159);
        font-size: 16px;
      }

      a.active {
        color: #555;
      }
    }
  }

}